li{
	clear: both;
}

li>p {
	font-size: 15px;
	margin: 0;
}

li p:first-child
{
	font-weight: bold;
	float: left;
	height: 100%;
}

p:first-child{
	height:10px;
}

p:first-child:after{
	content: ":";
}

html, body{
	height:100%;
	padding: 0;
	margin-top:10px;
	background-color:#000;
	color:#3a3;
	font-family: Helvetica;
	font-size:110%;
}

ul{	
	color:#3a3
	padding: 0!important;
	margin: 0!important;
	list-style: none;
	list-style-position: outside;
	-webkit-padding-start:0;
}

input {
	color:#3a3;
	background-color:black;
	border-color:black;
}

form {
	border-top:2px solid #3a3;
	margin-top:1em;
	display:block;
}
form:before{
	content:"say >:"
}

form input[type='text']{
	margin-top:5px;
	clear:both;
	width:90%
}

input[type='text']:before {
	color:#3a3;
	content:"say";
}
